<div class="log-selection">
  <a href="">Select Day</a>
  <a href="/profile/monthly">November - 12</a>
</div>

<div>
  <canvas class="chart-canvas"></canvas>
</div>

<div class="statistics">
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Calories: 1000/{{recommendedCalories}}</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Carbs: 1000</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Protein: 1000</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Fat: 1000</h4>
  </div>
</div>

<div class="daily-add-food">
  <a href="">Add Food</a>
</div>

<div class="daily-food-list">
  <h3>Eaten Today:</h3>
  <hr>
  <ul>
    <li><div class="daily-food-item">
      <h5>Banana</h5>
      <h5>Calories: 100</h5>
    </div></li>
    <li><div class="daily-food-item">
      <h5>Banana</h5>
      <h5>Calories: 100</h5>
    </div></li>
    <li><div class="daily-food-item">
      <h5>Banana</h5>
      <h5>Calories: 100</h5>
    </div></li>
    <li><div class="daily-food-item">
      <h5>Banana</h5>
      <h5>Calories: 100</h5>
    </div></li>
  </ul>
</div>

<div class="edit-profile-button">
  <a href="/profile/edit">Edit Profile</a>
</div>