<div class="log-selection">
  <a href="">Select Month</a>
  <a href="">November</a>
</div>

<div>
  <canvas class="chart-canvas"></canvas>
</div>

<div class="statistics">
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Calories: 10033</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Carbs: 16858</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Protein: 12345</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Fat: 8345</h4>
  </div>
</div>

<div class="month-information">
  <div>
    <canvas class="month-pie-chart"></canvas>
  </div>
  <div class="category-info">
    <div class="category-header">
      <h4>Category</h4>
      <h4>Qty</h4>
    </div>
    <hr>
    <div class="category-contents">
      <ul>
        <li>
          <h5 class="name">Fruit</h5>
          <h5 class="quantity">12</h5>
        </li>
        <li>
          <h5 class="name">Fruit</h5>
          <h5 class="quantity">12</h5>
        </li>
      </ul>
    </div>
  </div>
</div>