<div class="index-intro">
  <h1>Headline</h1>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab, aperiam sed explicabo dolor, consectetur eius eos aliquid totam ipsa saepe nemo blanditiis fugiat quod nulla, voluptas nisi sapiente asperiores.</h4>
  <a href="/authentication/sign-up">Sign up</a>
  <h2> Or </h2>
  <form action="search" class="sign-in">
    <input type="text" name="name" placeholder="Quick Lookup">
    <input type="hidden" name="direction" value="1">
    <input type="hidden" name="session" value="-1">
    <button>Lookup</button>
  </form>
</div>


<div class="index-features">
  <h2 class="title-text">Features</h2>
  <hr>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>Logging Made Quick</strong></h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis adipisci perspiciatis tempora ex eveniet et nobis, eligendi facilis quo dolorem.</p>
    </div>
  </div>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>All your food, in one place</strong></h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae repellat repudiandae adipisci beatae possimus nostrum voluptatibus officiis aperiam ea consequuntur?</p>
    </div>
  </div>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>Wherever you are</strong></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore non doloribus architecto aspernatur ipsam sapiente quod magnam quo. Exercitationem, a.</p>
    </div>
  </div>
</div>