<div class="index-intro">
  <h1>My Food Log</h1>
  <h4>View detailed information about food nutrients and health labels, create detailed reports with what you eat, and keep track of your intake of calories, carbs, proteins and fat!</h4>
  <a href="/authentication/sign-up">Sign up</a>
  <h2> Or </h2>
  <form action="search" class="sign-in">
    <input type="text" name="name" placeholder="Quick Lookup" required>
    <input type="hidden" name="direction" value="1">
    <input type="hidden" name="session" value="-1">
    <button>Lookup</button>
  </form>
</div>


<div class="index-features">
  <h2 class="title-text">Features</h2>
  <hr>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>Detailed daily, monthly and food reports</strong></h3>
      <p>With a registered account, you can quickly search and add what you ate to your day and see detailed information about what you consumed. Even without an account, you can lookup information on any item from the database.</p>
    </div>
  </div>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>All your food, in one place</strong></h3>
      <p>Search from a database with over 750,000 results, in which you can find anything you'll ever eat!</p>
    </div>
  </div>
  <div class="index-feature">
    <img src="" alt="">
    <div class="index-feature-container">
      <h3><strong>Wherever you are</strong></h3>
      <p>Built from the ground up thinking about all devices, you can access and update your logs and update whether you are at home, the restaurant or having a camping trip.</p>
    </div>
  </div>
</div>