<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-title">Food Logger</a>

      {{#if user}}
        <!-- <a href="/">{{user.name}}'s Profile</a> -->
        <div>
          <a href="/profile/daily"class="nav-logout">Profile</a>
          <form action="/authentication/sign-out" method="POST">
            <button class="nav-logout">Logout</button>
          </form>

        </div>

        {{else}}
        <a href="/authentication/sign-in" class="nav-login">Login</a>
      {{/if}}
    </nav>
    {{{body}}}
    <footer>
      <div class="creator-info">
        <h6>Developed by: </h6>
        <hr>
        <h6>Ricardo Loureiro</h6>
        <h6>Cesar Mello</h6>
        <h6>2020</h6>
      </div>
      <div class="github">
        <h6><a href="https://github.com/Ricardo-not-a-bot-42/project-2">Github Repo</a></h6>
      </div>
    </footer>
    <script src="/scripts/script.js"></script>
  </body>
</html>
