<div class="log-view">
  <h1>Create an account</h1>
</div>

<form action="/authentication/sign-up" method="POST" class="sign-up">
  <input type="email" id="input-email" name="email" placeholder="Your Email" required/>
  <input type="text" id="input-name" name="name" placeholder="Your Name" required/>
  <input type="number" id="input-age" name="age" min="1" placeholder="Your age" required/>
  <select name="gender" id="input-gender" required>
    <option value="">Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
  <input type="password" name="password" id="input-password" placeholder="Password" required/>

  <button>Create Account</button>
</form>
