<div class="log-view">
      <a href="/">
        <p><i class="fas fa-angle-left fa-2x icon"></i></p>
    </a>
  <h1>Login to your account</h1>
</div>

<form action="/authentication/sign-in" method="POST" class="sign-in">
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />

  <button>Login</button>
</form>

<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>