<div class="log-view">
  <h1>Login to your account</h1>
</div>

<form action="/authentication/sign-in" method="POST" class="sign-in">
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />

  <button>Login</button>
</form>